@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.product__card {
  margin: 16px;
}

.product__list {
  list-style: none;
}

.product__name {
  color: #121212;
  font-weight: 400;
  text-transform: uppercase;
  margin: 16px 0 8px 0;
}

.product__description {
  color: #7f7f7f;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 3%;
  margin: 0 0 16px 0;
}

.product__price {
  color: #121212;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 8px 0;
}

.product__promo {
  color: #a27b5c;
  font-size: 20px;
  line-height: 28px;
}
